body {
    padding: 0;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;}
div.navbar{
    box-sizing: border-box;
    height: 45px;
    padding: 0 20% 0;
    margin: 0%;
    border: none;
    background-color: rgb(37, 37, 37);
    color: rgb(226, 226, 226);}
#navbar li{
    display: inline;
    margin: 2%;
    }
